/*
Author: Dorian Segura
Date: 9/30/22
File Name: styles.css
*/

/* CSS Reset */
body, nav, main, footer, h1, div, img {
		margin:0;
		padding: 0;
		border: 0;
}

/* Style rule for images */
img {
		max-width: 100%;
		display: block;
}

/* Style rule for navigation area */
nav {
    text-decoration: none;
}

nav ul {
		list-style-type: none;
}

nav li a {
		text-decoration: none;
}
/* Style rules for main content */
main {
		font-size: 1.15em;
		font-family: 'Roboto Slab', serif;
}

/* Style rules for footer content */
footer p a {
		text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {

  /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
    .tablet-desktop {
      display: block;
    }
    
    .mobile {
      display: none;
    }

  /* Tablet Viewport: Style rules for main content area */
    main ul {
      margin: 0 0 4% 10%;
    }
}

/* Media Query for Desktop Viewport */ 
@media screen and (min-width: 1015px), print {
  
	/* Desktop Viewport: Style rules for form elements */ 
	form {
		width: auto; 
	}
	
	.form-grid {
		display: grid; 
		grid-template-columns: auto auto auto; 
		grid-gap: 20px; 
	}
	
	.btn {
		grid-column: 1 / span 3; 
	}
}
